/* Copyright 2007 Will Norris. All Rights Reserved. */

/*==========================
Style
==========================*/
body {
	background-image: url(bg.png);
}

ul.arrow {
	list-style-image: url(arrow.png);
}
		
#menu #logo {
	width:125px;
	height:115px;
	background: url(logo.png);
}

#header {
	width:500px;
	height:366px;
	margin-bottom:2em;	
	background: url(header.jpg);
	}

/*==========================
Palette
==========================*/

#menu a:hover,
h1, a:hover, a.text, a
{
	color: #43b877;
}
form span input:focus,
form span textarea:focus,
form span select:focus,
Xform input
{
	background-color: #43b877;
}

form span input:hover,
form span textarea:hover,
form span select:hover {
	color:#383;
	background-color: #ddffdd;
}

.section a:hover
{
	color: #009922;
}
