/* Copyright 2007 Will Norris. All Rights Reserved. */

/*==========================
Style
==========================*/
body {
	background-image: url(5/bg.png);
}

ul.arrow {
	list-style-image: url(arrow.png);
}
		
#menu #logo {
	width:125px;
	height:115px;
	background: url(5/logo.png);
}

#header {
	width:500px;
	height:375px;
	margin-bottom:2em;	
	background: url(5/header.jpg);
	}

/*==========================
Palette
==========================*/

h1, a:hover, a.text, a
{
	color: #83a7e8;
}
form span input:focus,
form span textarea:focus,
form span select:focus,
Xform input
{
	background-color: #83a7e8;
}

form span input:hover,
form span textarea:hover,
form span select:hover {
	color:#383;
	background-color: #ddddff;
}

#menu a:hover,
.section a:hover
{
	color: #222299;
}
