---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'bioHACK • NET — Will Norris',
  description = 'Will Norris — hacker, developer, game engineer',
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="none" />
  </head>
  <body>
    <slot />
  </body>
</html>
